/*
Using trick from https://stackoverflow.com/questions/26372127/background-fixed-no-repeat-not-working-on-mobile
to ensure the same background on all devices.
*/

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -10;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
    background-color: black;
  }

  body.a_ets2_scania::before {
    background: url(../img/bg_scania.jpg) no-repeat center center;
  }

  body.b_trs31:before {
    background: url(../img/bg_trs.jpg) no-repeat center center;
  }

  body.c_mtel11:before {
    background: url(../img/bg_modeltrain.jpg) no-repeat center center;
  }
  
  .fg-text {
    color: whitesmoke;
    /* Thanks to https://stackoverflow.com/questions/4919076/outline-effect-to-text */
    text-shadow: 
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000, 
        1px 1px 0 #000;
  }